.box {
    position: relative;
    width: 100%;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 9rem;
    padding: 0.4em 0.6em;
}

.colorFlat {
    color: gold;

}

.boxsearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.btn {
    margin-left: 1em;
}

.inputsearch {
    border-radius: 16px;
    width: 230px;
    height: 30px;
    border: 2px solid gold;

}

.inputsearch:hover {
    border: 2px solid black;
    transition: all .5s;
}

.btn {
    width: 120px;
    height: 30px;
    background-color: gold;
    color: black;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    border: 2px solid white;    
    transition: all .5s;

}

.btn:hover {
    color: white;
    background-color: black;

}


@media (max-width: 568px) {
    .title {
        font-size: 3rem;
    }
}


@media (min-width: 568px) and (max-width: 1200px) {
    .title {
        font-size: 5rem;
    }
}